.navigateClean{
    transition: 0.3s;
    --kf_navigator_navbar-height:0px !important;
    top: 0;
    --kf_navigator_navbar-background: rgba(0,0,0,0) !important;
    --kf_navigator_navbar-center-mainWidth:286px;
    --kf_navigator_backgroundColor: rgba(0,0,0,0) !important;
}

.sc-bdfBQB{
    padding-top: 40px !important;
}
._1ok9ruld{
    padding-top: 0px !important;
}
._1ok9rulk{
    background: white !important;
    z-index: 98;
}
.x613ng0{
    position: fixed !important;
    /*box-shadow: none !important;*/
    z-index: 99;
}
.x613ng2{
    box-shadow: none !important;
}

.x613ng2{
    height: 44px !important;
}